
@model NCUSE12_Taoyuan_Tourism_WebAPP.Models.SpotListViewModel  

@{
    ViewData["Title"] = "SearchSpotPageById";
}
@section css {
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/SearchSpotPageByDistrict.css">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
}
@section js {
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="~/js/SearchSpotPageById.js"></script>
}
<body>

  <div>
    <h2 align="center"><font size="30" color=#0000AA face="DFKai-sb">景點介紹</font></h1>
  </div>
  <div align="right">
    <input type="button" id="add_itinerary_btn" value="加入行程" style="width:150px;height:50px;">
  </div>
  <div align="center">
    <img src= "" width="500" height="250" id="spot_image">
  </div>

  <div align="center">
    <br></br>
  <table border="1" type="p">
    @foreach (var item in Model.Data)
    {
    <div id="spot_id">
      @item.Id
    </div>
    <tr>
        <td readonly align='center' valign="middle" width="10%" id="spot_id" ><font face="DFKai-sb" size="4" >編號</font></td><td valign="middle" width="700px"><font size="4" face="DFKai-sb" id="spot_id" >@item.Id</font></td>

    </tr>
    <tr>
      <td width="10%"  align='center' valign="middle" width="100px"><font face="DFKai-sb" size="4" >區域</font></td><td><font size="4" face="DFKai-sb" ></font>@item.Zipcode</td>
    </tr>
    <tr>
      <td width="10%"  align='center' valign="middle" width="100px"><font face="DFKai-sb" size="4" >地名</font></td><td><font  face="DFKai-sb" size="4">@item.Name</font></td>
    </tr>

    <tr>
      <td width="10%"  align='center' valign="middle"><font face="DFKai-sb" size="4" >地址</font></td><td><font size="4"  face="DFKai-sb" >@item.Address</font></td>
    </tr>
    <tr>
      <td width="10%"  align='center' valign="middle"><font face="DFKai-sb" size="4">描述</font></td><td><font size="4" face="DFKai-sb" >@item.Description</font></td>
    </tr>
    <tr>
      <td width="10%" align='center' valign="middle"><font face="DFKai-sb" size="4">營業時間</font></td><td><font size="4" face="DFKai-sb" >@item.Opentime</font></td>
    </tr>
    }
  </table>
</div>

<button type="button" id="BackTop" class="toTop-arrow"></button>
</body>
